/* General Styling */
.homepage {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* h1, h2, p {
    margin: 0;
    padding: 0;
  } */
  
  /* Hero Section */
  .hero {
    position: relative;
    height: 70vh;
    background: url("../assets/profile.png") center/cover no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-overlay h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .hero-overlay p {
    font-size: 13px;
  }
  
  /* Events Section */
 .events {
  padding: 0px 8px 8px 8px;
  text-align: center;
  margin-bottom: 8px;
}

.events h1 {
  font-size: 28px;
  margin: 8px 0px 8px 0px;
}

.events-cards {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.events-card {
  flex: 1;
  max-width: 300px;
  height: 200px;
  background: #ddd;
}

.events-1 {
  background: url("../assets/profile.png") center/cover no-repeat;
  width: 100%;
  transition: transform 0.3s ease;
}

.events-2 {
  background: url("../assets/profile.png") center/cover no-repeat;
  width: 100%;
  transition: transform 0.3s ease;
}

.events-3 {
  background: url("../assets/profile.png") center/cover no-repeat;
  width: 100%;
  transition: transform 0.3s ease;
}

  
  /* About Us Section */
  .about-us {
    display: flex;
    gap: 20px;
    padding: 0px 8px 0px 8px;
    align-items: center;
    background: #fafafa;
  }
  
  .about-content {
    flex: 1;
  }
  
  .about-content h1 {
    font-size: 28px;
    margin-bottom: 4px;
    margin: 0px;
  }
  
  .about-content p {
    font-size: 12px;
    line-height: 1.5;
  }
  
  .about-image {
    flex: 1;
    height: 300px;
    background: url("../assets/profile.png") center/cover no-repeat;
  }
  
  /* Webinars Section */
  .webinars {
    padding: 0px 8px 8px 8px;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .webinars h1 {
    font-size: 28px;
    margin: 8px 0px 8px 0px;
  }
  
  .webinar-cards {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  
  .webinar-card {
    flex: 1;
    max-width: 300px;
    height: 200px;
    background: #ddd;
  }
  
  .webinar-1 {
    background: url("../assets/profile.png") center/cover no-repeat;
  }
  
  .webinar-2 {
    background: url("../assets/profile.png") center/cover no-repeat;
  }
  
  .webinar-3 {
    background: url("../assets/profile.png") center/cover no-repeat;
  }
  